<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content" class="ion-padding">
  <div class="builder" hidden="false"></div>
  <br>
  <h2 class="title-theme">Outfit Builder</h2>
  <h5>{{ userService.currentUser.FirstName }} X RACK Collab</h5>
  <br>
  <h4>What shall we create this {{ timeOfDay }}?</h4>
  <br>
  <form [formGroup]="builderForm">

    <!-- <div formArrayName="items">
      <div *ngFor="let _ of items.controls; index as i">
        <input [formControlName]="i">
      </div>
    </div> -->
    <ion-accordion-group value="first">
      <ion-accordion value="first">
        <ion-item slot="header" color="dark">
          <ion-label>First Item</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item>
              <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="spring">Spring</ion-select-option>
                <ion-select-option value="summer">Summer</ion-select-option>
                <ion-select-option value="fall">Fall</ion-select-option>
                <ion-select-option value="winter">Winter</ion-select-option>
                <ion-select-option value="*">Let Rack Decide!</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="top">Top</ion-select-option>
                <ion-select-option value="bottom">Bottom</ion-select-option>
                <ion-select-option value="*">Let Rack Decide!</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="color-palette-outline"></ion-icon>Color - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="sparkles-outline"></ion-icon>Style - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
      <ion-accordion value="second" hidden="true">
        <ion-item slot="header" color="dark">
          <ion-label>Second Item</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item>
              <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="spring">Spring</ion-select-option>
                <ion-select-option value="summer">Summer</ion-select-option>
                <ion-select-option value="fall">Fall</ion-select-option>
                <ion-select-option value="winter">Winter</ion-select-option>
                <ion-select-option value="*">Let Rack Decide!</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="top">Top</ion-select-option>
                <ion-select-option value="bottom">Bottom</ion-select-option>
                <ion-select-option value="*">Let Rack Decide!</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="color-palette-outline"></ion-icon>Color - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="sparkles-outline"></ion-icon>Style - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>
      <br>
      <ion-button fill="clear" (click)="addItem()">Add another item?</ion-button>
    </ion-accordion-group>

    <ion-button expand="block" routerLink="results" (click)="onSubmit()">Generate!</ion-button>
  </form>

  <div class="loading" hidden="true">
    <br>
    <h2 class="title-theme">Outfit Builder</h2>
    <h5>{{ userService.currentUser.FirstName }} X RACK Collab</h5>
    <br>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <div class="results" hidden="true">
    <br>
    <h2 class="title-theme">Our Latest Outfit</h2>
    <h5>{{ userService.currentUser.FirstName }} X RACK Collab</h5>
    <br>
    <br>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
    <br>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Generated outfit card(s) - Title </ion-card-title>
        <ion-card-subtitle>#type #season</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button slot="icon-only" fill="clear"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
        <!-- try using a grid and columns to get this icon on the same lvl as the card header and have no content at all? -->
      </ion-card-content>
    </ion-card>
    <br>
    <h5>Hope this does the trick!</h5>
    <br>
    <br>
    <br>
    <ion-text>I think we make a good team! <a routerLink="../../../feedback">Do you?</a></ion-text>
  </div>

</ion-content>