<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content" class="ion-padding">
  <br>
  <h2 class="title-theme">Outfit Builder</h2>
  <h5>FirstName X RACK Collab</h5>
  <br>
  <h4>What shall we create this "TimeOfDay?"</h4>
  <br>
  <ion-list>
    <ion-item>
      <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
      <ion-input placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="color-palette-outline"></ion-icon>Color - Coming Soon!</ion-label>
      <ion-input disabled placeholder=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label><ion-icon name="sparkles-outline"></ion-icon>Style - Coming Soon!</ion-label>
      <ion-input disabled placeholder=""></ion-input>
    </ion-item>
  </ion-list>
        <br>
      <ion-button fill="clear">Add another item?</ion-button>
      <ion-button expand="block" >Done!</ion-button>
</ion-content>
