<app-default-head></app-default-head>

<ion-content fullscreen="true" id="main-content">

  <br>
  <br>
  <br>
  <ion-text><h2 class="title-theme">{{ userService.currentUser.FirstName }}, your latest Rack Stats await!</h2></ion-text>

  <!-- put the data visualization here. do i need to use tableau or can i do simple graphs here? -->

  <br>
  <ion-text>
    <p>You have {{sumSpring}} spring clothing items,<br>
      {{sumSummer}} summer clothing items,<br>
      {{sumFall}} fall clothing items, and<br>
      {{sumWinter}} winter clothing items.<br>
    </p>
  </ion-text>
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
 
    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!-- get the tabs to show up here and be shared -->