<app-default-head></app-default-head>

<ion-content fullscreen="true" id="main-content">

  <br>
  <br>
  <br>
  <ion-text><h2 class="title-theme">{{ userService.currentUser.FirstName }}, your latest Rack Stats await!</h2></ion-text>

  <br>
  
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Rack Stats: by Season
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart 
        [data]="barChartData"
        [options]="barChartOptions"
        [legend]="false"
        [type]="'bar'" ></canvas>
      </ion-card-content>
    </ion-card>
    <ion-text>
      <small>
        You have {{sumSpring}} spring {{itemS}}, {{sumSummer}} summer {{itemSu}},
        {{sumFall}} fall {{itemF}}, and {{sumWinter}} winter {{itemW}}!<br>
      </small>
    </ion-text>
    <br>
    <ion-card>
      <ion-card-header>
        Rack Stats: Tops vs Bottoms
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart 
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartData"
        [options]="doughnutChartOptions"
        [legend]="false"
        [type]="'doughnut'"></canvas>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!-- get the tabs to show up here and be shared -->