<div>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button slot="icon-only">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
        <ion-menu-toggle>
          <ion-button>
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
        </ion-menu-toggle>
      
      
      <img src="assets/icon/rack-logo-1.svg" alt="">
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>

</ion-content>
