<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text> <!-- do interpolation for these lines -->
    <h4 class="quote">"Good TimeOfDay, FirstName"</h4>
    <p class="quote">"Another day, another outfit!"</p>
  </ion-text>
  
  <ion-grid>
    <ion-row>
      <ion-col> 
        <!-- give this card an <a> router link thing -->
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Rack Stats</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
      
      <ion-col> <!-- make sure to indicate this card as disabled-->
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>My Wish Rack</ion-card-title>
            </ion-card-header>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
