<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<app-default-head></app-default-head>

<ion-content [fullscreen]="true">
  <!-- do interpolation for these lines -->
  <br>
  <br>
  <h2 class="greeting title-theme">Good "TimeOfDay", "FirstName"!</h2>
  <h5 class="quote">"Another day, another outfit!"</h5>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col> 
        <!-- give this card an <a> router link thing -->
          <ion-card>
            <ion-card-header>
              <ion-icon name="bar-chart-outline" size="large"></ion-icon>
            </ion-card-header>
            <ion-card-content>Rack Stats</ion-card-content>
          </ion-card>
      </ion-col>
      
      <ion-col> <!-- make sure to indicate this card as disabled-->
        <ion-card>
          <ion-card-header>
            <ion-icon name="heart-outline" size="large"></ion-icon>
          </ion-card-header>
          <ion-card-content>My Wish Rack</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
