<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content">
  <!-- do interpolation for these lines -->
  <br>
  <br>
  <h2 class="greeting title-theme color-main">Good "TimeOfDay", "FirstName"!</h2>
  <h5 class="quote">"Another day, another outfit!"</h5>
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- give this card an <a> router link thing -->
        <br>
          <ion-card>
            <ion-card-header>
              <ion-button fill="clear" size="large">
                <a routerLink="../../stats">
              <ion-icon name="bar-chart-outline" size="large"></ion-icon></a>
            </ion-button><br>
            <ion-label>Rack Stats</ion-label>
            </ion-card-header>
            <!-- <ion-card-content>Rack Stats</ion-card-content> -->
          </ion-card>

      </ion-col>

      <ion-col> <!-- make sure to indicate this card as disabled-->
      Coming Soon!
        <ion-card>
          <ion-card-header>
            <ion-button disabled fill="clear" size="large">
                <ion-icon name="heart-outline" size="large"></ion-icon>
          </ion-button><br>
          <ion-label>Wish Rack</ion-label>
            
          </ion-card-header>
          <!-- <ion-card-content>My Wish Rack - Coming Soon!</ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>