<ion-menu type="overlay" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Need a list here
    <ion-menu-toggle>
      <ion-button>Click away to close? or get a back button at the top of the toolbar</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<div>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button slot="icon-only" (click)="takePicture()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <a routerLink="../../profile">
          <!-- the router isnt working.. maybe because this is the default head? -->
        <ion-button slot="icon-only" size="large">
          <ion-icon name="person-circle-outline"></ion-icon>
          <!-- <ion-avatar> <img alt="Profile Pic" src="https://ionicframework.com/docs/img/demos/avatar.svg" /> </ion-avatar> make the src image binding of persons pic. if they dont have a pic, make that ion-icon the default img-->
        </ion-button>
      </a>
        <ion-menu-toggle>
          <ion-button>
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      
      <img src="assets/icon/rack-logo-1.svg" alt="">
    </ion-toolbar>
  </ion-header>
</div>

<!-- <img [src]="imageURL"> -->