<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content">
  <ion-grid class="sticky-top">
    <ion-searchbar animated="true" placeholder="Search Rack" show-clear-button="focus"></ion-searchbar>
    <!-- make this a debounce search type?  -->
    <ion-row>
      <ion-col>
        <ion-button id="click-season" fill="clear" size="small"><ion-icon
            name="partly-sunny-outline"></ion-icon>Season</ion-button>
        <ion-popover trigger="click-season" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Spring</ion-label>
                </ion-item>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Summer</ion-label>
                </ion-item>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Fall</ion-label>
                </ion-item>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Winter</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-col><ion-button id="click-type" fill="clear" size="small"><ion-icon name="shirt-outline"></ion-icon>
          Type</ion-button>
        <ion-popover trigger="click-type" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-list>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Tops</ion-label>
                </ion-item>
                <ion-item>
                  <ion-checkbox slot="start"></ion-checkbox>
                  <ion-label>Bottoms</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover></ion-col>
      <ion-col><ion-button disabled fill="clear" size="small"><ion-icon
            name="color-palette-outline"></ion-icon>Color</ion-button></ion-col>
      <ion-col><ion-button disabled fill="clear" size="small"><ion-icon
            name="sparkles-outline"></ion-icon>Style</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button disabled fill="clear" size="small"><ion-icon
            name="bookmark-outline"></ion-icon>Save</ion-button></ion-col>
      <ion-col><ion-button fill="clear" size="small"><ion-icon
            name="funnel-outline"></ion-icon>Filter</ion-button></ion-col>
    </ion-row>
  </ion-grid>
  

  <!-- interpolate all of the users Rack items, data binding stuff -->
  <div class="ion-padding">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Title </ion-card-title>
        <ion-card-subtitle>#type #season</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button slot="icon-only" fill="clear"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
        <!-- try using a grid and columns to get this icon on the same lvl as the card header and have no content at all? -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
      <ion-card-header>
        <ion-card-title>Title</ion-card-title>
        <ion-card-subtitle>#type #season</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button slot="icon-only" fill="clear"><ion-icon name="information-circle-outline"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card>
    <!-- incorporate infinite scroll to show users rack? https://ionicframework.com/docs/api/infinite-scroll -->
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="new-rack-modal">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal trigger="new-rack-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>RACK</ion-title> <!-- title will become logo image -->
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Done</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <br>
        <br>
        <ion-text>
          <h2 class="title-theme">Getting Organized!</h2>
        </ion-text>
        <br>
        <div>
          <ion-list>
            <ion-item>
              <ion-label>Title</ion-label>
              <ion-input placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Description</ion-label>
              <ion-input placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="partly-sunny-outline"></ion-icon>Season</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="spring">Spring</ion-select-option>
                <ion-select-option value="summer">Summer</ion-select-option>
                <ion-select-option value="fall">Fall</ion-select-option>
                <ion-select-option value="winter">Winter</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="shirt-outline"></ion-icon>Type</ion-label>
              <ion-select interface="popover" placeholder="" [multiple]="true">
                <ion-select-option value="top">Top</ion-select-option>
                <ion-select-option value="bottom">Bottom</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="color-palette-outline"></ion-icon>Color - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><ion-icon name="sparkles-outline"></ion-icon>Style - Coming Soon!</ion-label>
              <ion-input disabled placeholder=""></ion-input>
            </ion-item>
          </ion-list>
          <br>
          <!-- show thumbnail of uploaded img here? or name of image file -->
          <ion-chip (click)="presentActionSheet()">
            <ion-icon name="image-outline" color="primary"></ion-icon>
            <ion-label>Upload new clothing image(s) </ion-label>
          </ion-chip>
          <!-- link action sheet to the chip -->
          <br>
          <br>
          <ion-button expand="block">Add to Rack!</ion-button>
          <!-- add validation. Description not req'd-->
        </div>
        <br>
        <br>
        <ion-text>Don't sweat! Edit your Rack anytime!</ion-text>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>