<app-default-head></app-default-head>

<ion-content [fullscreen]="true" id="main-content">
  <ion-grid class="sticky-top">
    <ion-row>
      <ion-col size="2"> </ion-col>
      <ion-col>
        <ion-searchbar animated="true" placeholder="Search Rack" show-clear-button="focus" [debounce]="100"
          [(ngModel)]="filterTerm"></ion-searchbar>
      </ion-col>
      <ion-col size="2"><ion-button fill="clear" (click)="toggle()"><ion-icon
            name="funnel-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    <div class="filter-bar" *ngIf="show">
      <ion-row>
            <ion-col>
            <ion-item lines="none">
              <!-- <ion-label><ion-icon name="partly-sunny-outline"></ion-icon></ion-label> -->
              <ion-select interface="popover" placeholder="Season" [multiple]="true" (ionChange)="handleChange($event)">
                <ion-select-option value="spring">Spring</ion-select-option>
                <ion-select-option value="summer">Summer</ion-select-option>
                <ion-select-option value="fall">Fall</ion-select-option>
                <ion-select-option value="winter">Winter</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <!-- <ion-label><ion-icon name="shirt-outline"></ion-icon></ion-label> -->
              <ion-select interface="popover" placeholder="Type" [multiple]="true" (ionChange)="handleChange($event)">
                <ion-select-option value="top">Top</ion-select-option>
                <ion-select-option value="bottom">Bottom</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <!-- <ion-label><ion-icon name="color-palette-outline"></ion-icon></ion-label> -->
              <ion-input disabled placeholder="Color"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <!-- <ion-label><ion-icon name="sparkles-outline"></ion-icon></ion-label> -->
              <ion-input disabled placeholder="Style"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <!-- <ion-row>
        
        <ion-col>
          <form>
            <ion-button id="season-button" fill="clear" size="small"><ion-icon
                name="partly-sunny-outline"></ion-icon><label for="season">Season</label></ion-button>
            <ion-popover trigger="season-button" triggerAction="click">
              <ng-template>
                <ion-content class="ion-padding">
                  <ion-list>
                    <ion-item>
                      <ion-checkbox slot="start" name="season" value="Spring" id="Spring"
                        (ionChange)="onSeasonCheckboxChange($event)"></ion-checkbox>
                      <ion-label>Spring</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox slot="start" name="season" value="Summer" id="Summer"
                        (ionChange)="onSeasonCheckboxChange($event)"></ion-checkbox>
                      <ion-label>Summer</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox slot="start" name="season" value="Fall" id="Fall"
                        (ionChange)="onSeasonCheckboxChange($event)"></ion-checkbox>
                      <ion-label>Fall</ion-label>
                    </ion-item>
                    <ion-item>
                      <ion-checkbox slot="start" name="season" value="Winter" id="Winter"
                        (ionChange)="onSeasonCheckboxChange($event)"></ion-checkbox>
                      <ion-label>Winter</ion-label>
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </form>
        </ion-col>
        <ion-col><ion-button id="type-button" fill="clear" size="small"><ion-icon name="shirt-outline"></ion-icon><label for="type">Type</label>
            </ion-button>
          <ion-popover trigger="type-button" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-list>
                  <ion-item>
                    <ion-checkbox slot="start" value="Top" id="Top" name="type" (ionChange)="onTypeCheckboxChange($event)"></ion-checkbox>
                    <ion-label>Tops</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-checkbox slot="start" value="Bottom" id="Bottom" name="type" (ionChange)="onTypeCheckboxChange($event)"></ion-checkbox>
                    <ion-label>Bottoms</ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover></ion-col>
        <ion-col><ion-button disabled fill="clear" size="small"><ion-icon
              name="color-palette-outline"></ion-icon>Color</ion-button></ion-col>
        <ion-col><ion-button disabled fill="clear" size="small"><ion-icon
              name="sparkles-outline"></ion-icon>Style</ion-button></ion-col>
      </ion-row> -->
    </div>
  </ion-grid>

  <div class="ion-padding" *ngFor="let item of userRack | filter:filterTerm">
    <ion-card>
      <img alt="Default T-Shirt Image" src="assets/images/generic-top.jpg" />
      <ion-card-header>
        <ion-card-title>{{item.Title}} </ion-card-title>
        <ion-card-subtitle>#{{item.Season}} #{{item.Item_type}} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
    <!-- incorporate infinite scroll to show users rack? https://ionicframework.com/docs/api/infinite-scroll -->
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="new-rack-modal">
    <ion-fab-button routerLink="new-rack">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>