<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <br>
  <br>
  <br>
  <p>What's in your closet?</p><br>
  <br>
  <p>Whats on your...</p>
  <!-- RACK LOGO IMG GOES HERE -->
  <br>
  <br>
  <br>
  <ion-button>Log In</ion-button><br>
  <!-- make a function onclick to show this form like a hidden span? -->
  <!-- <span>
    Log In
    <ion-list>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" value=""></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button>Let's Go!</ion-button>
    <ion-text>Don't have an account? Sign Up!</ion-text>
    <ion-text>Powered by Paula Anderson</ion-text>
  </span> -->

  <ion-button fill="clear" id="open-modal">Sign Up</ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Later</ion-button>
          </ion-buttons>
          <ion-title>RACK</ion-title> <!-- title will become logo image -->
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Done</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text>
          <h3>Sign Up</h3>
        (it's free!)</ion-text>
        <br>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input placeholder=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" value=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Confirm Password</ion-label>
            <ion-input type="password" value=""></ion-input>
          </ion-item>

          <!-- add validation. Last name not req'd but everything else is -->
        </ion-list>
        <br>
        <ion-button>Let's Go!</ion-button>
        <br>
        <ion-text>Already have an account? Log in!</ion-text> <!-- a href on the Log in, link to the login form -->
        <br>
        <br>
        <ion-text>Powered by Paula Anderson</ion-text>
      </ion-content>
    </ng-template>
  </ion-modal>
  <br>
  <br>
  <br>
  <br>

  <ion-text>Powered by Paula Anderson</ion-text>
</ion-content>