<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <br>
  <br>
  <br>
  <p>What's in your closet?</p><br>
  <br>
  <p>Whats on your...</p>
  <!-- RACK LOGO IMG GOES HERE -->
  <br>
  <br>
  <br>
  <ion-button>Log In</ion-button><br>
  <ion-button fill="clear" id="open-modal">Sign Up</ion-button>
  
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Later</ion-button>
          </ion-buttons>
          <ion-title>RACK</ion-title> <!-- title will become logo image -->
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Done</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-text>
          <h3>Sign Up</h3>
        (it's free!)</ion-text>
        <br>
        <br>
        <ion-list>
          <ion-item>
            <ion-label>First Name</ion-label>
            <ion-input placeholder="What's your first name?"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Last Name</ion-label>
            <ion-input placeholder="What's your last name?"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" placeholder="Enter your email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" value="password"></ion-input>
          </ion-item>

          <!-- add validation. Last name not req'd but everything else is -->
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <br>
  <br>

  <ion-text>Powered by Paula Anderson</ion-text>
</ion-content>