<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Outfit Builder
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text><h3>FirstName X RACK Collab</h3> </ion-text>
  <!-- put a progress bar thing here after the form... on the toolbar top thing? 
    https://ionicframework.com/docs/api/progress-bar -->
</ion-content>
