<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h4>Outfit Builder</h4>
  <h5>FirstName X RACK Collab</h5>
  
  <!-- img isnt showing up... color issue? it works in an ionicon but not as ion-img. as embed it has a white bg... -->
  <img src="assets/icon/closet.svg" class="closet">
  <!-- put a progress bar thing here after the form... on the toolbar top thing? 
    https://ionicframework.com/docs/api/progress-bar -->

  <ion-button>Start!</ion-button>
    
</ion-content>
